html {
    height: 100%
}

body {
    background-color: #fafafa;
    font-family: 'Lato';
    height: calc(100vh - 15vh);
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    background-color: #fafafa;
}

.logo {
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.header {
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 45%;
}

.nav-links .navs {
    list-style: none;
}

.nav-links a {
    color: #b4babf;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
    text-transform: uppercase;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: #000000;
    margin: 5px;
    transition: all 0.5s ease;
}

.header-text a {
    text-decoration: none;
    color: #000000
}

ul {
    padding-left: 25px;
}

.lighter {
    color: #b4babf;
}

.darker {
    color: #262829;
}

.overlay {
    margin-top: 15vh;
}

/* from bulma css  */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.cart-details {
    border: none;
    background-color: #fafafa;
    color: #000000;
}

.update-item,
.remove-item {
    cursor: pointer;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 150px;
    z-index: 999999999;
}

.toast-top {
    height: 5px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.cart-wrapper {
    max-height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* tablets  */
@media screen and (max-width: 1024px) {
    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 40%;
    }
}

/* mobiles  */
@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 85vh;
        top: 15vh;
        background: #fafafa;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links .navs {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    .header-text {
        margin-bottom: 0px;
    }
}

.nav-active {
    transform: translateX(0%)
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px)
    }
    to {
        opacity: 1;
        transform: translateX(0px)
    }
}

.toggle .line1 {    
    transform: rotate(-45deg) translate(-5px,5px);
}

.toggle .line2 {    
    opacity: 0;
}

.toggle .line3 {    
    transform: rotate(45deg) translate(-5px,-5px);
}